<section id="plans">
  <div class="plan-card">
    <div class="plan-badge">Mais Vendido!</div>
    <div class="card-header">
      <h2>Plano Ouro</h2>
    </div>

    <div class="card-body">
      <p>Benefícios</p>

      <div class="list-benefits">
        <div class="list-bullet"></div>
        <p class="list-item">Pode adicionar mais de 5 PETS</p>
      </div>
      <div class="list-benefits">
        <div class="list-bullet"></div>
        <p class="list-item">Será qualificado como <span>SUPER TUTOR</span></p>
      </div>
      <div class="list-benefits">
        <div class="list-bullet"></div>
        <p class="list-item">Receberá desconto de 5% em nossos parceiros</p>
      </div>
    </div>

    <div class="card-footer">
      <div class="plan-value">
        <h3>R$ 4,99 <span>/ mês</span></h3>
        <h4>Plano Anual: R$ 60,00</h4>
      </div>

      <button mat-button mat-raised-button>ADERIR</button>
    </div>
  </div>
  <div class="plan-card">
    <div class="card-header">
      <h2 class="silver-plan-title">Plano Prata</h2>
    </div>

    <div class="card-body">
      <p>Benefícios</p>

      <div class="list-benefits">
        <div class="list-bullet silver-plan-bullet"></div>
        <p class="list-item">Pode adicionar de 1 até 5 PETS</p>
      </div>
      <div class="list-benefits">
        <div class="list-bullet silver-plan-bullet"></div>
        <p class="list-item">Será qualificado como TUTOR</p>
      </div>
      <div class="list-benefits">
        <div class="list-bullet silver-plan-bullet"></div>
        <p class="list-item">Receberá desconto de 2% em nossos parceiros</p>
      </div>
    </div>

    <div class="card-footer">
      <div class="plan-value">
        <h3 class="silver-plan-value">R$ 2,99 <span>/ mês</span></h3>
        <h4>Plano Anual: R$ 36,00</h4>
      </div>

      <button mat-button mat-raised-button>ADERIR</button>
    </div>
  </div>
  <div class="plan-card">
    <div class="card-header">
      <h2 class="bronze-plan-title">Plano Bronze</h2>
    </div>

    <div class="card-body bronze-plan">
      <p>Benefícios</p>

      <div class="list-benefits">
        <div class="list-bullet bronze-plan-bullet"></div>
        <p class="list-item">Pode adicionar mais de 1 até 2 PETS</p>
      </div>
      <div class="list-benefits">
        <div class="list-bullet bronze-plan-bullet"></div>
        <p class="list-item">Será qualificado como TUTOR</p>
      </div>
    </div>

    <div class="card-footer">
      <div class="plan-value">
        <h3 class="bronze-plan-value">R$ 1,99 <span>/ mês</span></h3>
        <h4>Plano Anual: R$ 24,00</h4>
      </div>

      <button mat-button mat-raised-button>ADERIR</button>
    </div>
  </div>
</section>
