<section id="action-buttons">
  <div class="actions">
    <a mat-raised-button routerLinkActive="active" routerLink="/lost-pet" id="lost-pet">
      <div class="buttons">
        <fa-icon [icon]="faTriangleExclamation" size="2xl"></fa-icon>
        <h3>PERDI MEU PET</h3>
      </div>
    </a>
    <a mat-raised-button routerLinkActive="active" routerLink="/found-pet" id="find-pet">
      <div class="buttons">
        <fa-icon [icon]="faCircleExclamation" size="2xl"></fa-icon>
        <h3>Encontrei um pet</h3>
      </div>
    </a>
  </div>
</section>
