#header {
  padding: 2px 15px;

  .address {
    text-align: end;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .header-bar {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  #header {
    .header-bar {
      display: flex;

      .menu-mobile {
        cursor: pointer;
      }
    }
  }
}
