#lost-pet {
  padding: 0 15px 0 15px;
  margin-top: 40px;

  .tooltip {
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 0.7em;
    background-color: #c6c5c5;
    color: #fff;
    cursor: pointer;
  }

  .find-button {
    margin-bottom: 15px;
  }
}
